<div class="drop-shadow-lg shadow-black">
  <div class="relative flex items-center p-4 w-full border border-indigo-300">
    <div class="flex items-center">
      <img src="assets/images/workout.svg" class="w-12 h-12 p-1" alt="workout" />
      <h1 class="text-lg font-bold dark:text-white">Your workout</h1>
    </div>
    <a
      [routerLink]="['../workouts/new']"
      class="button flex items-center ml-auto py-2 px-4 uppercase text-sm">
      <img class="w-4 h-4 mr-2" src="assets/images/add.svg" alt="add icon" />
      <span>New Workout</span>
    </a>
  </div>
  <div
    class="bg-white dark:bg-black border-indigo-300 border-x border-b divide-y divide-indigo-300"
    *ngIf="workouts$ | async as workouts; else loading">
    <div
      *ngIf="!workouts.length"
      class="flex justify-center items-center text-lg min-h-[100px] dark:text-white">
      <img class="w-7 h-7 mr-2" src="assets/images/face.svg" alt="sad face" />
      No workouts, add a new workout
    </div>

    <ng-template ngFor let-workout [ngForOf]="workouts" let-i="index">
      <app-list-item [item]="workout" (remove)="removeWorkout($event)"></app-list-item>
    </ng-template>
  </div>

  <ng-template #loading>
    <div
      class="flex justify-center items-center bg-white dark:bg-black dark:text-white border-indigo-300 border-x border-b p-5">
      <!-- <img src="assets/loading.svg" alt="Fetching workouts" /> -->
      Fetching workouts...
    </div>
  </ng-template>
</div>
