<div class="text-center bg-indigo-500 p-3 text-white">
  {{ name }}
</div>

<div>
  <div
    *ngIf="section.meals; else addMeal"
    class="item bg-meal-icon italic"
    tabindex="0"
    (click)="onSelect($event, 'meals', section.meals)"
    (keydown.enter)="onSelect($event, 'meals', section.meals)">
    <span>{{ section.meals | join }}</span>
  </div>
  <ng-template #addMeal>
    <div
      class="item bg-add-icon"
      tabindex="0"
      (click)="onSelect($event, 'meals')"
      (keydown.enter)="onSelect($event, 'meals')">
      Assign meal
    </div>
  </ng-template>
</div>

<div>
  <div
    *ngIf="section.workouts; else addWorkouts"
    class="item bg-workout-icon italic"
    tabindex="0"
    (click)="onSelect($event, 'workouts', section.workouts)"
    (keydown.enter)="onSelect($event, 'workouts', section.workouts)">
    <span>{{ section.workouts | join }}</span>
  </div>
  <ng-template #addWorkouts>
    <div
      class="item bg-add-icon"
      tabindex="0"
      (click)="onSelect($event, 'workouts')"
      (keydown.enter)="onSelect($event, 'workouts')">
      Assign workout
    </div>
  </ng-template>
</div>
