<header class="bg-white p-5 dark:bg-black">
  <div class="max-w-4xl relative m-auto">
    <app-theme-button class="left" [isLightTheme]="isLightTheme"></app-theme-button>
    <div class="flex flex-col items-center">
      <img
        class="w-24 h-24 inline-block"
        src="../../../assets/images/logo.png"
        alt="Health logo by Freepik" />
      <span class="dark:text-white">Logo designed by Freepik</span>
    </div>
    <svg
      *ngIf="user?.authenticated"
      role="button"
      aria-label="logout"
      (click)="onClick()"
      (keyup.enter)="onKeydown()"
      tabindex="0"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="logout">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M5.636 5.636a9 9 0 1012.728 0M12 3v9" />
    </svg>
  </div>
</header>
