<div class="container dark:bg-black">
  <div *ngIf="section" class="section">
    <img
      class="w-10 h-10"
      src="assets/images/{{ section.type === 'workouts' ? 'workout' : 'meal' }}.svg"
      alt="{{ section.type }}" />
    <h1>Assign {{ section.type }}</h1>
    <a
      [routerLink]="getRoute(section.type)"
      class="button flex items-center py-1 px-2 uppercase text-sm">
      <img class="w-4 h-4 mr-2" src="assets/images/add.svg" alt="add icon" />
      New {{ section.type }}
    </a>
  </div>

  <div class="m-7 border min-h-[100px] dark:text-white dark:bg-slate-900" *ngIf="list">
    <span *ngIf="!list.length" class="flex justify-center items-center">
      <img class="w-5 h-5 mr-1" src="assets/images/face.svg" alt="sad face" />
      Nothing here to assign
    </span>
    <div
      *ngFor="let item of list"
      class="toggle-item"
      tabindex="0"
      (keydown.enter)="toggleItem(item.name)"
      [class.active]="exists(item.name)"
      (click)="toggleItem(item.name)">
      {{ item.name }}
    </div>
  </div>

  <div class="p-5 border-t border-indigo-300 dark:bg-black">
    <button type="button" (click)="updateAssign()">Update</button>
    <button class="border-0 ml-1 dark:text-white" type="button" (click)="cancelAssign()">
      Cancel
    </button>
  </div>
</div>
