<form [formGroup]="form" class="bg-white dark:bg-black dark:text-white divide-y divide-indigo-300">
  <div class="p-5">
    <label class="block">
      <h3 [ngClass]="{ error: required }">
        Meal name<span class="error" *ngIf="required"> is required</span>
      </h3>
      <input
        class="w-full mt-3"
        type="text"
        placeholder="e.g. English breakfast"
        formControlName="name" />
    </label>
  </div>

  <div class="p-5">
    <div class="flex justify-between">
      <h3>Food</h3>
      <button
        type="button"
        class="flex items-center ml-auto py-2 px-4 uppercase text-sm"
        (click)="addIngredient()">
        <img class="w-4 h-4 mr-2" src="assets/images/add.svg" alt="add icon" />
        Add food
      </button>
    </div>

    <div formArrayName="ingredients" class="relative grid grid-cols-1 sm:grid-cols-2 gap-3 mt-2">
      <label #formRow class="relative" *ngFor="let item of ingredients.controls; index as i">
        <input
          class="block w-full pr-9"
          [formControlName]="i"
          placeholder="e.g. Eggs"
          (keydown.enter)="addIngredient()" />
        <span
          class="remove"
          tabindex="0"
          role="button"
          (keyup.enter)="removeIngredient(i)"
          (click)="removeIngredient(i)"
          >&#10007;</span
        >
      </label>
    </div>
  </div>

  <div class="p-5 flex flex-col sm:flex-row justify-between">
    <div>
      <button *ngIf="!exists" type="button" (click)="createMeal()">Create meal</button>
      <button *ngIf="exists" type="button" (click)="updateMeal()">Save</button>
      <a class="button border-0 sm:ml-3 p-2 dark:text-white" [routerLink]="['../']">Cancel</a>
    </div>
    <div *ngIf="exists">
      <ng-template [ngIf]="toggled">
        <p class="block sm:inline-block mr-2 mt-3 sm:mt-0">Delete item?</p>
        <button
          class="mt-2 sm:mt-0 sm:mr-2 border-red-600 text-red-600 hover:bg-red-800"
          type="button"
          (click)="removeMeal()">
          Yes
        </button>
        <button #no type="button" class="mr-2 border-0" (click)="toggle()">No</button>
      </ng-template>
      <ng-template [ngIf]="!toggled">
        <button
          #delete
          class="border-0 text-red-500 hover:bg-red-500 hover:shadow-md mt-3 sm:mt-0"
          type="button"
          (click)="toggle()">
          Delete
        </button>
      </ng-template>
    </div>
  </div>
</form>
