<a class="inline-block" [routerLink]="getRoute(item)">
  <p class="text-2xl font-bold dark:text-white">{{ item.name }}</p>
  <p *ngIf="item.ingredients; else showWorkout" class="text-slate-400 overflow-hidden">
    {{ item.ingredients | join }}
  </p>

  <ng-template #showWorkout>
    <p class="text-slate-400 overflow-hidden">{{ item | workout }}</p>
  </ng-template>
</a>

<div class="min-w-fit">
  <ng-template [ngIf]="toggled">
    <p class="inline-block mr-2">Delete item?</p>
    <button
      class="mr-2 border-red-600 text-red-600 hover:bg-red-800"
      type="button"
      (click)="removeItem()">
      Yes
    </button>
    <button type="button" class="mr-2 border-0" (click)="toggle()">No</button>
  </ng-template>
  <ng-template [ngIf]="!toggled">
    <button class="border-0 hover:bg-transparent hover:shadow-md" (click)="toggle()">
      <img class="w-8 h-8 inline-block" src="assets/images/trash.svg" alt="trash icon" />
    </button>
  </ng-template>
</div>
